.sign-in-page {
  width: 99.7%;
  height: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #3b719f;
  }

  .password-forget-link {
    font-weight: bold;

    a {
      color: black;
      font-size: 0.9rem;
    }
  }
  .social-login-containers {
    width: 450px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .social-login-btn {
      margin-left: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      transition: all 0.4s ease;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);

      &.google {
        background-image: url(https://banner2.cleanpng.com/20180326/gte/kisspng-google-logo-g-suite-google-guava-google-plus-5ab8b5b15fd9f4.0166567715220545773927.jpg);
        background-size: cover;
      }

      &.facebook {
        background-image: url(https://png.pngtree.com/element_our/png_detail/20181011/facebook-social-media-icon-design-template-vector-png_127003.jpg);
        background-size: 5rem;
        background-position: center;
      }

      &:hover {
        cursor: pointer;  
        transform: scale(1.1);
      }
    }
  }

  .sign-up-link {
    font-weight: bold;
    position: absolute;
    font-size: 1rem;
    bottom: 0;
    a {
      color: #3b719f;
      font-size: 1.3rem;
    }
  }

  .sign-in-form {
    width: 450px;
    margin-top: 10px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.75);

    input {
      display: block;
      width: 100%;
      padding: 20px;
      border: 0;
      outline: 0;
      transition: 0.3s;

      &:hover {
        background: darken(#fff, 10%);
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 20px;
      outline: 0;
      border: 0;
      font-size: 0.9rem;
      font-weight: bold;
      color: white;
      background: #3b719f;

      &:hover {
        background: darken(#3b719f, 15%);
        cursor: pointer;
      }

      &.disable {
        background: darken(#3b719f, 30%);
        pointer-events: none;
      }
    }
  }
}
