.password-forget-page {
  width: 99.7%;
  height: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #1f3b4d;
  }

  .password-forget-form {
    width: 35%;
    margin-top: 10px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.75);

    input {
      display: block;
      width: 100%;
      padding: 20px;
      border: 0;
      outline: 0;
      transition: 0.3s;

      &:hover {
        background: darken(#fff, 10%);
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 20px;
      outline: 0;
      border: 0;
      font-size: 0.9rem;
      font-weight: bold;
      color: white;
      background: #3b719f;

      &:hover {
        background: darken(#3b719f, 15%);
        cursor: pointer;
      }

      &.disable {
        background: darken(#3b719f, 30%);
        pointer-events: none;
      }
    }
  }
}
