.sign-out-btn {
  border: none;
  background: #1f3b4d;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
